
<!doctype html>
<html ng-app="market-front" lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.11/ngStorage.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular-route.min.js"></script>

    <style>
        body {
            background-color: #f8f9fa;
        }

        h3 {
            margin-top: 2rem;
            font-weight: 500;
        }

        table td, table th {
            vertical-align: middle !important;
        }

        .form-control {
            margin-bottom: 0.5rem;
        }

        .btn-custom {
            min-width: 100px;
        }

        .section-divider {
            border-top: 1px solid #dee2e6;
            margin: 2rem 0;
        }
    </style>
</head>
<body>



<div class="container py-4" ng-controller="indexController">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#!/">Spring Web Application</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#!/store">Каталог товаров</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#!/cart">Корзина</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#!/orders">Мои заказы</a>
                </li>
            </ul>
        </div>
    </nav>
    <ng-view></ng-view>
    <div class="d-flex justify-content-between align-items-center mb-3">
        <span id="username" class="font-weight-bold text-muted">{{username}}</span>
    </div>

    <div class="d-flex justify-content-end align-items-center mb-3">
        <div class="form-inline" ng-if="!isUserLoggedIn()">
            <input class="form-control mr-2" type="text" ng-model="user.username" placeholder="Логин">
            <input class="form-control mr-2" type="password" ng-model="user.password" placeholder="Пароль">
            <button class="btn btn-outline-primary mr-2 btn-custom" ng-click="goToLogin()">Войти</button>
            <button class="btn btn-outline-secondary btn-custom" ng-click="createNewUser()">Регистрация</button>
        </div>
        <div ng-if="isUserLoggedIn()" class="ml-3">
            <button class="btn btn-outline-danger btn-custom" ng-click="logout()">Выйти</button>
        </div>
    </div>
</nav>
    <script src="index.js"></script>
    <script src="store/store.js"></script>
    <script src="cart/cart.js"></script>
    <script src="welcome/welcome.js"></script>
    <script src="orders/orders.js"></script>
</div>


    </body>
    </html>
